<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Kezdőlap</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="inputdata">Adatok bevitele</a>
    <a href="outputdata">Adatok lekérdezése</a>
</div>


 <form action="{{ url_for('savenewdata') }}" method="post">
     <label><input class="box" type="text" name="carsnumber" placeholder="Autó rendszám (pl. XXX-999)" pattern="[A-Z]{3}-[0-9]{3}"
       required></label>
     <label><input class="box" type="text" name="from" placeholder="Honnan?"></label>
     <label><input class="box" type="text" name="where" placeholder="Hova?"></label>
     <label><input class="box" type="date" name="date"></label>
     <label><input class="box" type="number" min=0 name="km" placeholder="Távolság km-ben"></label>
     <label><input class="box" type="number" min=0 name="fuel" placeholder="Elhasznált üzemanyag (l)"></label>
     <div style="width: 12%; margin: auto;"><h1 class="error">{{ error }}</h1></div>
     <input type="submit" name="Mentés" value="Mentés" class="save">
 </form>

</body>
</html>